@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Lobster&display=swap');

body {
    margin: 0;
    text-wrap: nowrap;
}
*{
    font-size: 1em;
}
.header {
    height: 20vh;
    width: 100vw;
    background-color: white;
    overflow: hidden;
    min-height: 31px;
}

.header-content {
    margin: 0 auto;
    width: 60%;
    height: 100%;
    position: relative;
    @media (max-width:1700px){
        width: 65%;
    }
    @media (max-width:1500px){
        width: 70%;
    }
    @media (max-width:1300px){
        width: 75%;
    }
    @media (max-width:1200px){
        width: 80%;
    }
    @media (max-width:600px){
        width: 99%;
    }
    
}

.header-content .logo {
    left: 12%;
    position: absolute;
    top: 3%;
    font-family: 'Lobster', sans-serif;
    background: -webkit-linear-gradient(45deg, #09009f, #ff00aa 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;

}

.header-content .logreg {
    position: absolute;
    display: flex;
    right: 5%;
    top: 10%;
    width: fit-content;
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
    gap: 1%;
    
}
.header-content .user{
    position: absolute;
    right: 5%;
    bottom: 50%;
    font-size: 1.1rem;
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;

}
.header-content .logreg div {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.15);
    width: fit-content;
    text-wrap: nowrap;
    cursor: pointer;
}
.header-content .logreg a{
    color: inherit;
    text-decoration: inherit;
}
.header-content .border {
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: rgba(0, 0, 0, 0.15);
}

.main {
    min-height: 80vh;
    max-height: fit-content;
    background-color: #edf2fa;
}

.main-content {
    padding-top: 2vh;
    margin: 0 auto;
    min-height: 80vh;
    max-height: fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3vh;

    @media (max-width:1700px){
        width: 65%;
    }
    @media (max-width:1500px){
        width: 70%;
    }
    @media (max-width:1300px){
        width: 75%;
    }
    @media (max-width:1200px){
        width: 80%;
    }
    @media (max-width:600px){
        width: 99%;
    }
    
}

.ticket {
    width: 98%;
    height: 25vh;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
}

.ticket:hover {
    box-shadow: 0 1.2px 3px rgba(0, 0, 0, 0.8);
}

.ticket .ticket-info {
    flex: 4;
    position: relative;
    border-right-style: solid;
    border-right-width: 0.1px;
    border-right-color: rgba(0, 0, 0, 0.15);
}

.ticket .ticket-buy {
    flex: 1;
    position: relative;
}
.ticket .ticket-buy a{
    color: inherit;
    text-decoration: inherit;
}
.ticket .company {
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    position: absolute;
    top: 4%;
    left: 3%;
}

.ticket .city-from {
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 3%;
}

.ticket .city-to {
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    right: 3%;
}

.ticket .date-from {
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 3%;
    color: rgba(0, 0, 0, 0.7);

}

.ticket .date-to {
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    right: 3%;
    color: rgba(0, 0, 0, 0.7);
}

.ticket .airport-from {
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    position: absolute;
    top: 60%;
    left: 3%;
    color: rgba(0, 0, 0, 0.9);
}

.ticket .airport-to {
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    position: absolute;
    top: 60%;
    right: 3%;
    color: rgba(0, 0, 0, 0.9);
}

.ticket .ticket-buy button {
    position: absolute;
    height: 15%;
    width: 80%;
    bottom: 10%;
    left: 10%;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom right, #00ffff 0%, #0073ff 60%, #aa5aff 80%, #ff416e 900%);
    background-size: 125% 125%;
    cursor: pointer;
    background-position-x: 5%;
    border-radius: 5px;
}

.ticket .ticket-buy button:hover {
    background-image: linear-gradient(to bottom right, #00ffff 10%, #0073ff 50%, #aa5aff 90%, #ff416e 110%);

}

.ticket .ticket-buy .left {
    position: absolute;
    bottom: 30%;
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
    left: 10%;

}

.ticket .ticket-buy .price {
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 10%;
}

.ticket-info hr {

    top: 50%;
    width: 50%;
}
@media (max-width:1100px) {
    *{
        font-size: 0.85em;
    }    
}