@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Lobster&display=swap');

body{
    margin: 0;
}
.header{
    height: 20vh;
    width: 100vw;
    background-color: white;
}
.header-content{
    margin: 0 auto;
    width: 60%;
    height: 100%;
}
.main{
    min-height: 80vh;
    max-height: fit-content;
    background-color: #edf2fa;
}
.main-content{
    padding-top: 2vh;
    margin: 0 auto;
    min-height: 80vh;
    max-height: fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.ticket{
    width: 98%;
    height: 25vh;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
}

.ticket:hover{
    box-shadow: 0 1.2px 3px rgba(0, 0, 0, 0.8);
}
.ticket .ticket-info{
    flex: 4;
    position: relative;
    border-right-style: solid;
    border-right-width: 0.1px;
    border-right-color: rgba(0, 0, 0, 0.15);
}
.ticket .ticket-buy{
    flex: 1;
    position: relative;
}
.ticket .company{
    font-family: 'Lobster', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    position: absolute;
    top: 4%;
    left: 3%;
}
.ticket .city-from{
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 3%;
}
.ticket .city-to{
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    right: 3%;
}
.ticket .date-from{
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 3%;
    color: rgba(0, 0, 0, 0.7);

}

.ticket .date-to{
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    right: 3%;
    color: rgba(0, 0, 0, 0.7);
}

.ticket .airport-from{
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    position: absolute;
    top: 60%;
    left: 3%;
    color: rgba(0, 0, 0, 0.9);
}
.ticket .airport-to{
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    position: absolute;
    top: 60%;
    right: 3%;
    color: rgba(0, 0, 0, 0.9);
}
.ticket .ticket-buy button{
    position: absolute;
    height: 15%;
    width: 80%;
    bottom: 10%;
    left: 10%;
    border: none;
    color: white;
    background-image: linear-gradient(to bottom right, #00ffff 0%, #0073ff 60%, #aa5aff 80%, #ff416e 900%);
    background-size: 125% 125%;
    transition: 1s all ease-in-out;
    cursor: pointer;
    background-position-x: 5%;
    border-radius: 5px;
}

.ticket .ticket-buy button:hover{
    background-image: linear-gradient(to bottom right, #00ffff 10%, #0073ff 50%, #aa5aff 90%, #ff416e 110%);
    transition: all 1s  ease-in-out;

}
.ticket .ticket-buy .left{
    position: absolute;
    bottom: 30%;
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
    left: 10%;

}

.ticket .ticket-buy .price{
    font-family: 'Exo 2', Helvetica, Arial, sans-serif;
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 10%;
}
.ticket .line {
    position: absolute;
    top: 5%;
    left: 5%;
    border: 1px dotted #000; /* Задаем стиль линии и цвет */
    padding: 10px; /* Добавляем отступ вокруг линии */
  }